@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(14px);
  }
  100% {
    transform: translatey(0px);
  }
}

#main-container {
  width: 100vw;
  height: 100vh;
}

html {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  background-image: url("https://i.imgur.com/PxMkOuM.png");
  overflow: inherit;
}

#graphic {
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}
